.listItemStyle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offerContainer {
    display: flex;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    width: 100%;
    max-width: 1400px;
    gap: 1rem;
    border-radius: 0.5rem;
    height: 100%;
}

.imageContainer {
    position: relative;
    width: 35%;
}

.imageCover {
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.offerDetails {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0.5rem 1rem 2rem;
    gap: 0.5rem;
    width: 100%;
}

.headerFlex {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.headerText {
    font-size: 1.25rem;
    font-weight: bold;
}

.offerStatusIcon {
    position: absolute;
    right: 0;
    font-size: 1.875rem;
}

.offerPrice {
    font-size: 1.5rem;
    font-weight: 800;
}

.actionButtons {
    display: flex;
    gap: 0.75rem;
    height: 100%;
    align-items: center;
    font-weight: bold;
    font-size: 1.125rem;
    width: 100%;
    justify-content: flex-end;
    position: relative;
}

.offerStatusText {
    position: absolute;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    font-weight: bold;
    padding: 0.5rem;
    left: -0.5rem;
    font-size: 1.25rem;
}

.buttonStyle {
    padding: 0.25rem 0.5rem;
    color: white;
    border-radius: 0.5rem;
}

.acceptButton {
    background-color: #48bb78;
}

.acceptButton:hover {
    background-color: #38a169;
}

.declineButton {
    background-color: #f56565;
}

.declineButton:hover {
    background-color: #e53e3e;
}

.messageButton {
    background-color: #4299e1;
}

.messageButton:hover {
    background-color: #3182ce;
}

.trashIcon {
    font-size: 1.25rem;
    cursor: pointer;
}

.trashIcon:hover {
    opacity: 0.7;
}
